Client/Connected Services/ServiceReference2/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="EvCusId" type="xs:int" />
      <xs:element minOccurs="0" name="EvCustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EvDuration" type="xs:int" />
      <xs:element minOccurs="0" name="EvId" type="xs:int" />
      <xs:element minOccurs="0" name="EvName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvVenue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>