Client/Connected Services/ServiceReference3/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="EvId" type="xs:int" />
      <xs:element minOccurs="0" name="EvName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FbNum" type="xs:int" />
      <xs:element minOccurs="0" name="Hospitality" type="xs:int" />
      <xs:element minOccurs="0" name="Overall" type="xs:int" />
      <xs:element minOccurs="0" name="Punctuality" type="xs:int" />
      <xs:element minOccurs="0" name="Venue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
  <xs:complexType name="ArrayOfFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feedback" nillable="true" type="tns:Feedback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedback" nillable="true" type="tns:ArrayOfFeedback" />
</xs:schema>