Client/Connected Services/ServiceReference3/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/EventManagementSystem_Service/FeedbackService1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventManagementSystem" />
  <xs:element name="AddFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EventManagementSystem" minOccurs="0" name="feedbackDetails" nillable="true" type="q1:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeedbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedbackNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedbacks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedbacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EventManagementSystem" minOccurs="0" name="GetAllFeedbacksResult" nillable="true" type="q2:ArrayOfFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>