Client/Connected Services/ServiceReference4/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/EventManagementSystem_Service/VenueService1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventManagementSystem" />
  <xs:element name="AddVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EventManagementSystem" minOccurs="0" name="venueDetails" nillable="true" type="q1:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVenueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EventManagementSystem" minOccurs="0" name="venueDetails" nillable="true" type="q2:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVenues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EventManagementSystem" minOccurs="0" name="GetAllVenuesResult" nillable="true" type="q3:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>