Client/Connected Services/ServiceReference4/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="VAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="VId" type="xs:int" />
      <xs:element minOccurs="0" name="VManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="ArrayOfVenue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venue" nillable="true" type="tns:Venue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenue" nillable="true" type="tns:ArrayOfVenue" />
</xs:schema>